
footer{


	background-color: #BDF2D5;
}
.logo-footer{

	
	margin-left: 6rem;
	width: 50vw;
	
}

.menu{
	  
display: inline;
margin: 2rem;
top: -2rem;
color: var(--dark-desaturated-cyan);

}

.redes-sociais{

	margin-left: 3.5rem;
	margin-top: 5rem;
	margin-bottom: 5rem;
}