
.cereja{

	width: 100vw;
	margin-top: 4rem;
}
.graphic{

	font-family: var(--fraunces);
	text-align: center;
	font-size: 30px;
	margin-top: -14rem;
	line-height: 1.5;
	font-weight: 900;
	color: var(--dark-desaturated-cyan);

	

}

.graphic-frase{

	font-size: 16px;
	text-align: center;
	margin: 1rem 2rem;
	line-height: 1.5;
	color: var(--dark-desaturated-cyan);
}

@media screen and  (min-width:1440px){

.cereja{

	width: 50vw;
	margin-top: 10rem;
	margin-bottom: 40rem;

}


.graphic{

	font-family: var(--fraunces);
	text-align: center;
	font-size: 30px;
	margin-top: -65rem;
	margin-left: 45rem;
	line-height: 1.5;
	font-weight: 900;
	color: var(--dark-desaturated-cyan);
	align-items: center;


	

}

.graphic-frase{

	font-size: 16px;
	text-align: center;
	margin: 2rem;
	margin-left: 45rem;
	line-height: 1.5;
	color: var(--dark-desaturated-cyan);
}


}